SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_EDGE_FUNCTIONS_URL=
EMQX_HOST=u2f26a6a.ala.us-east-1.emqxsl.com
EMQX_PORT=8883
EMQX_USERNAME=pestTrappingDevice
EMQX_PASSWORD=
MQTT_CLIENT_ID_PREFIX=pest_trappy_app
MQTT_TOPIC_ROOT=pestTrapping